.kitchenHeader {
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 88px;
    color:rgb(19, 130, 173);
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color:black;
    background-color: rgb(173, 236, 245);
    text-align: center;
}

.comingSoon {
    text-align: center;
    font-size: 45px;
}